*{
    font-size: 11px;

}

.container{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height:100vh;
}

.main{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.section{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    border-top: 0.5px solid black;
}

.green{
    background-color: #6afa03;
}

.black{
    background-color: black;
    color: white;
}