.parentElement{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    height: 7vh;
    background-color: #000000;
    color:white ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tittle{
    display: flex;
    justify-content: center; 
    font-size:x-large;
    font-weight: bold;
    padding-bottom: 5vh;
}
.main{
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items:center;
    justify-content: space-evenly;
}

.text{
    display: flex;
    width: 50%;
    flex-direction: column;
  

}

.img{
    height: 40vh;
    display: flex;
   
}