.parentElement{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    height: 7vh;
    background-color: #000000;
    color:white ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section{
   width: 100%;  
   display:flex; 
   flex-wrap: wrap;  
   height: 80vh;
}

img{
    width: 33.3333%;
    height: 48vh;
}