body{
    background-color: black;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 25px;
}
.logo{
    height: 15vh;
    width: 15vh;

}
.a{
    color: aliceblue;
    text-decoration: none;

}

.description{
    height: 75vh;
    width: 100%;
    background-image: url(img/feliz-compania-hipster-amigos-viajando-mundo.jpg);
    background-size: cover;
    background-position: center;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.travel{
    font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
}

.moreInfoDescription{
    margin-top: 30vh;
    margin-bottom: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self:center;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px;
    color: blue;
}


.filterBox{
    height: 25vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;;
    background-color: black;
    color: white;

}

.button{
    height: 30px;
    width: 120px;
}

.targetsBox{
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;

}

.target{
    width: 20%;
    height: 50vh;
    background-color: rgb(40, 25, 69);
    padding: 2px;
    margin: 2px;
    box-shadow: 0px 0px 10px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;

}

.img{
    width: 100%;
    height: 25vh;
    object-fit: cover;

}

.formBox{
    background-color: rgb(23, 23, 80);
    height: 50vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.formBackground{
    background-color: aliceblue;
    width: 50%;
    height: 60%;
    margin: 10vh;
    display: flex;
    padding-bottom: 10vh;
    flex-direction: column;
    align-items: center; 

}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vh;

}