*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
}

:root{
    --line:1px solid rgb(222, 222, 222);
    --colorLetters: rgb(139, 139, 139);
    --colorBackGrey:rgb(244, 244, 244); 
    --colorButton:#64a0ea;
    --colorblue:#2851A3;
}

body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
    width: 100%;
    align-items: center;

}
.imgBox{
    height: 582;
    width: 380;
    margin: 0px 32px 12px 0px;
}

.img{
    width:405px;
    height: 623px;
}

.info{
    display: flex;
    flex-direction: column;
    height: 782px;
    width: 350px;
    margin: 12px 0px 0px;
    padding-top: 100px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 350px;
    margin: 0px 0px 10px;
    padding: 10px 0px;
    border: var(--line);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 330px;
    width: 348px;
    margin: 24px 0px 0px;
}


.input{
    background-color: var(--colorBackGrey);
    height:34px;
    width:256px;
    border: var(--line);
    color: var(--colorLetters);
}

.button{
    background-color: rgb(131, 196, 242);
    color: white;
    height:34px;
    width:256px;
    border-radius: 8px;
    border:none;
    font-weight: bold;
}

.nexus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.line{
    width: 115px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 350px;
    margin: 0px 0px 10px;
    padding: 10px 0px;
    border: var(--line);
}

.regist{
    font-weight: bold;
    margin-left: 5px;
    color: var(--colorButton);
}

.facebookInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.facebookLogo{
    height:35px;
    width: 42px;
}

.facebookLink{
    text-decoration: none;
    color:var(--colorblue);  
}

.forgetPassword{
    color:var(--colorblue);
    font-size: small;
}

.legalInfo{
    color: var(--colorLetters);
    font-size: smaller;
    margin: 5px 18px 0px 18px;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63px;
    width: 350px;
    margin: 0px 0px 10px;
    padding: 10px 0px;
}

.appStore{
    height: 63px;
    width: 350px;
}

.footer{
    display:flex;
    flex-direction: column;
}

.footer1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.footerElement{
    margin-right: 15px;
    color: var(--colorLetters);
    font-size: small;
}

.facebookName{
    width: 240px;
    height: 70px;
}

@media screen and (max-width:875px)
{
    .imgBox{
        display:none;
    }
}

@media screen and (max-width:450px) 
{
    .section1{
        border:none;
    }

    .section2{
        border:none;
    }
    
}