*{
    color:white;
    text-align: center;
}

.gridAreas{
    display:grid;
    grid-template-areas: 'header header image'
                            'lateralMenu content content'
                            'lateralMenu text text'
                            'footer footer footer';
}

.header{
    background-color: rgb(124, 24, 24);
    grid-area: header;
    height: 50px;
}

.image{
    background-color: rgb(67, 23, 23);
    grid-area: image;
    height: 50px;
}

.lateralMenu{
    background-color: orangered;
    grid-area: lateralMenu;
    height:500px;
    display:grid;
    grid-template-areas: 
                'arribaLateral'
                'enmedioLateral'
                'abajoLateral';
}

.arribaLateral{
    grid-area: arribaLateral;
    background-color: white;
    border: 10px solid orangered;
    color:orangered;
}

.enmedioLateral{
    grid-area: enmedioLateral;
}

.abajoLateral{
    grid-area: abajoLateral;
    background-color: white;
    border: 10px solid orangered;
    color:orangered;
}

.content{
    background-color: red;
    grid-area: content;
    height: 234px;
    border: 8px solid red;
    grid-template-areas: 'content2';
}

.content2{
    border: 1px solid white;
    height: 220px;
}

.text{
    background-color: red;
    grid-area: text;
    height: 234px;
    border: 8px solid red;
    grid-template-areas: 'text2';
}

.text2{
    border: 1px solid white;
    height: 220px;
}

.footer{
    background-color: rgb(67, 23, 23);
    grid-area: footer;
    height: 50px;
}